{{#if addNewAnswer}}
<h4>Add an Answer</h4>
  <div>
    <form{{action 'saveAnswer' on='submit'}}>
      <div class="form-group">
        <label for="name">Name:</label>
        {{input value=name id="name" required="required"}}
      </div>

      <div class="form-group">
        <label for="body">Answer:</label>
        {{input value=body id="body" required="required"}}
      </div>

      <button class="btn btn-warning">Save</button>
      <br><br>
    </form>
  </div>
{{else}}
  <button id="answer-button" class="btn btn-warning" {{action 'answerFormShow'}}>New Answer</button>
  <br><br>
{{/if}}
