{{#if addNewAnswer}}
<h3>Add an Answer</h3>
<div>
  <form {{action 'saveAnswer' on='submit'}}>
    <div class="form-group">
      <label for="name">Name</label>
      {{input value=name id="name" required="required"}}
    </div>

    <div class="form-group">
      <label for="body">Answer</label>
      {{input value=body id="body" required="required"}}
    </div>

    <button>Save</button>
    <br><br>
  </form>
</div>
{{else}}
  <button {{action 'answerFormShow'}}>New Answer</button>
  <br><br>
{{/if}}
