<div class="row">
  <div class="question-detail col-sm-6">
  <!-- <p>Author: {{question.author}}</p> -->
  <p>Question: {{question.content}}</p>
  <p>Notes: {{question.note}}</p>

  <button {{action 'delete' question}}>Delete Question</button>

  <h3>Answers:</h3>

  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyQuestion="destroyQuestion"}}
  {{/each}}
  </div>
</div>
