<div class="row text-center">
  <div>
  <!-- <p>Author: {{question.author}}</p> -->
  <p>Question: {{question.content}}</p>
  <p>Notes: {{question.note}}</p>

  <div class="buttons">
    <button class="btn btn-warning" {{action 'delete' question}}>Delete Question</button>
    <button class="btn btn-danger" {{action 'addToFavs' question}}><span class="glyphicon glyphicon-heart"></span> Add to Favs</button>
  </div>

  <h3>Answers:</h3>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyQuestion="destroyQuestion"}}
  {{/each}}
  </div>
</div>
