{{#if updateQuestionForm}}
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author:</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>

      <div class="form-group">
        <label for="note">Note:</label>
        {{input value=note id="note" placeholder=question.note}}
      </div>

      <div class="form-group">
        <label for="content">Question:</label>
        {{input value=content id="content" placeholder=question.content}}
      </div>

      <button class="btn btn-warning" {{action 'update' question}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-warning" {{action 'updateQuestionForm'}}>Edit Question</button>
  <br><br>
{{/if}}
